{% extends "base.html" %}
{% load static %}
{% block content %}

	<h1 style="padding: 100px"> Contributors </h1>
	<br>
	<style>
		body{
		padding-left:0px ;
		}
	</style>
		<div class="github-card" data-github="radhika1999" data-width="240" data-height="" data-theme="medium"></div>
		<div class="github-card" data-github="Aakash074" data-width="240" data-height="" data-theme="medium"></div>
		<div class="github-card" data-github="namanbalai" data-width="240" data-height="" data-theme="medium"></div>
		<div class="github-card" data-github="ramakrishna182957" data-width="240" data-height="" data-theme="medium"></div>
		<br><br><br>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

{% endblock content %}
