{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="hme" style="padding: 5%">
<h1>HOME PAGE</h1>
<center>
<img class="" src="{% static 'images/logonit.jpeg' %}"  >

<br> 
<br>
<p style="margin-right: 70px">
The function of the cell is to look into the complaints lodged by any student, and judge its merit. The Grievance cell is also empowered to look into matters of harassment. Anyone with a genuine grievance may approach the department members in person, or in consultation with the officer in-charge Students’ Grievance Cell. In case the person is unwilling to appear in self, grievances may be dropped in writing at the letterbox/ suggestion box of the Grievance Cell at Administrative Block. Grievances may also be sent through e-mail to the officer in-charge of Students’ Grievance Cell.
</p>


</center>

<h2>Scope</h2>

The cell will deal with Grievances received in writing from the students about any of the following matters:-
<ul>
<li>Academic Matters: Related to timely issue of duplicate Mark-sheets, Transfer Certificates, Conduct Certificates or other examination related matters.</li>
<li>Financial Matters: Related to dues and payments for various items from library, hostels etc.</li>
<li>Other Matters: Related to certain misgivings about conditions of sanitation, preparation of food, availability of transport, victimization by teachers etc.</li>
</ul>
</div>
<br><br><br>
{% endblock content %}